[Unit]
Description=Weekly backup of Minecraft server
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/bin/bash %h/MC-Server/tools/backup.sh backup all
WorkingDirectory=%h/MC-Server
Restart=on-failure
RestartSec=10
TimeoutStopSec=10
LimitNOFILE=65536
User=root
Group=root

[Install]
WantedBy=multi-user.target
