[Unit]
Description=Minecraft Server Socket - %i
BindsTo=minecraft@%i.service

[Socket]
ListenFIFO=/srv/minecraft/%i/systemd.stdin
Service=minecraft@%i.service
SocketUser=minecraft
SocketGroup=minecraft
RemoveOnStop=true
SocketMode=0600
